
<div class="centertext" style="font-size:54px;color:white;font-family: Arca Majora 3 ;">

    @if (ViewBag.slang != null)
    {
        <center> You're&nbsp;@ViewBag.slang</center>
    }
    else
    {
        <center>Your Session Is Up!</center>
    }

</div>

@if (ViewBag.slang != null)
{
    <div class="centerbtn">
        <center>
            <a href="/Home/hit"><img src="~/Content/Images/53142113_335283420426170_8341360258777612288_n.png" style="max-width: 30px;" /></a>
        </center>
    </div>
}


